@import './variables.scss';

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: $KosugiMaru;
    width: 100%;
    color: $black;
    max-width: 1920px;
}

#root{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.anim{
    animation: translate .5s cubic-bezier(0.09, 0.05, 0.43, 0.95);
}

@keyframes translate{
    0%{
        transform: translateY(40px);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
