
.swiper {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px -4px black;
  }

  .product_img{
    width: 100vw !important;
    height: 15vw !important;
  }
  
  .title{
    font-size: 2vw;
  }

  .subtitle{
    font-size: 1.5vw;
  }
  
  .slider_hr{
    width: 50%;
    box-shadow: 0px 0px 2px 0.1px #ffffff;
    margin: 9px 0px;
    border-style: none;
  }

  .content_card{
    position: relative;
  }
  .content_position{
    position: absolute;
    font-size: 3em;
    display: flex;
    background: linear-gradient(-45deg, #ffffff, #ffffff, #ffffff, #ffffff);
    background-size: 400% 400%;
    animation: slider_animation 15s ease infinite;
    color: #8557f5;
    box-shadow: 0px 0px 10px 2px #b5b5b5;
    padding: 10px;
    height: auto;
    width: 19vw;
    bottom: 1vw;
    right: 30vw;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    cursor: default;
  
    /* Center slide text vertically */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next{
    width: 25vw !important;
    height: 110% !important;
    top: 0% !important;
    color: rgb(255, 21, 0) !important;
  }
  .swiper-button-prev{
    background: linear-gradient(-270deg, white,white, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, transparent);
    background-position-x: -100vw;
    background-size: 500% 500%;
    transition: .5s;
    left: 0;
  }
  .swiper-button-next{
    background: linear-gradient(270deg, white,white, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, transparent);
    background-position-x: 120vw;
    background-size: 500% 500%;
    transition: .5s;
    right: 0;
  }
  .swiper-button-next:hover{
    background: linear-gradient(270deg,  white,white, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, transparent);
    background-position-x: 40vw;
    background-size: 500% 500%;
    transition: .5s;
  }
  .swiper-button-prev:hover
  {
    background: linear-gradient(-270deg, white,white, #ffffff00, #ffffff00, #ffffff00, #ffffff00, #ffffff00, transparent);
    background-position-x: -10vw;
    background-size: 500% 500%;
    transition: .5s;
  }


@media (max-width: 1024px){
      .swiper-button-prev,
      .swiper-button-next{
        --swiper-navigation-size: 20px !important;
        top: 5% !important;
    }

    .product_list button{
      font-size: 24px !important;
    }

      .swiper {
        width: 100% !important;
        height: 100% !important;
    }
      .product_img {
        width: 100vw !important;
        height: 70vw  !important;
    }
    .content_position{
      right: 20vw !important;
      bottom: 3vw !important;
      font-size: 5vw !important;
    }
    .product_list{
      flex-direction: column;
    }
    .product_list .filters{
      display: flex;
      flex-direction: row;
    }
    .product_list li{
      flex-direction: column;
      margin: 0px auto!important;
      width: 100% !important;
    }
    .product_image{
      object-fit: cover;
      width: 100% !important;
    }
    .product_list .filters{
      width: 100% !important;
      flex-wrap: wrap;
    }
    .product_list ul{
      grid-template-columns: repeat(2, 1fr) !important;
    }
    .product_title{
      margin: 6px 0px !important;
      font-size: 25px  !important;
    }
    .product_category{
      font-size: 25px  !important;
    }
    .product_price{
      font-size: 26px  !important;
      margin: 10px 0px !important;
    }
    .product_desc{
      font-size: 23px !important;
    }
}

@media (max-width: 768px){
      .swiper-button-prev,
      .swiper-button-next{
        --swiper-navigation-size: 20px !important;
        top: 5% !important;
    }

    .product_list button{
      font-size: 38px !important;
    }

      .swiper {
        width: 100% !important;
        height: 100% !important;
    }
      .product_img {
        width: 100vw !important;
        height: 70vw  !important;
    }
    .content_position{
      right: 20vw !important;
      bottom: 3vw !important;
      font-size: 5vw !important;
    }
    .product_list{
      flex-direction: column;
    }
    .product_list .filters{
      display: flex;
      flex-direction: row;
    }
    .product_list li{
      flex-direction: column;
      margin: 0px auto !important;
      width: 100% !important;
    }
    .product_image{
      object-fit: cover;
      width: 100% !important;
    }
    .product_list .filters{
      width: 100% !important;
      flex-wrap: wrap;
    }
    .product_list ul{
      grid-template-columns: repeat(2, 1fr) !important;
    }
    .product_title{
      margin: 6px 0px !important;
      font-size: 25px !important;
    }
    .product_price{
      font-size: 25px !important;
      margin: 10px 0px !important;
    }
}



@media (max-width: 520px){
    .swiper-button-prev,
    .swiper-button-next{
      --swiper-navigation-size: 20px !important;
      top: 0% !important;
  }
    .swiper {
      width: 100% !important;
      height: 100% !important;
  }
    .product_img {
      width: 100vw !important;
      height: 70vw  !important;
  }
  .content_position{
    right: 20vw !important;
    bottom: 3vw !important;
    font-size: 5vw !important;
  }
  .product_list{
    flex-direction: column;
  }
  .product_list .filters{
    display: flex;
    flex-direction: row;
  }
  .product_list li{
    flex-direction: column;
    margin: 0px 19px;
    width: 89% !important;
  }
  .product_image{
    object-fit: cover;
    width: 100% !important;
  }
  .product_list .filters{
    width: 100% !important;
    flex-wrap: wrap;
  }
  .product_list ul{
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .product_title{
    margin: 6px 0px !important;
    font-size: 25px !important;
  }
  .product_price{
    font-size: 25px !important;
    margin: 10px 0px !important;
  }
  .product_desc{
    font-size: 18px !important;
  }
  .product_list button{
    font-size: 20px !important;
  }
}




/* Animation */

@keyframes slider_animation {
  0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}