.third_art_cont{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.adv_image{

}

.adv_title{

}

.article_field{
    width: 100%;
    padding: 1vw;
    margin: 1vw;
    box-shadow: 0px 0px 4px 1px lightgrey;
    border-radius: 10px;
    background: white;
}
